.skills {
  background: linear-gradient(180deg, #0c0c1d, #111132);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .textContainer {
    flex: 1;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 20px;

    p {
      font-weight: 200;
      font-size: 18px;
      color: gray;
      text-align: right;
    }

    hr {
      width: 300px;
      border: none;
      border-top: 0.5px solid gray;
    }
  }

  .titleContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      display: flex;
      gap: 50px;
      align-items: center;

      div {
        font-size: 58px;
        border: 0.5px solid orange;
        border-radius: 50px;
        width: 225px;
        font-size: 20px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    h1 {
      font-size: 58px;
      font-weight: 100;
    }

    button {
      width: 225px;
      height: 70px;
      border-radius: 50px;
      background-color: orange;
      border: none;
      font-size: 20px;
      text-decoration: underline;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
    }
  }

  .listContainer {
    flex: 2;
    display: flex;
    padding: 0 100px;
    flex-wrap: wrap;
    justify-content: center;

    .wrapper {
      width: 25%;
    }

    .box {
      padding: 14px 40px;
      border: 0.5px solid gray;
      height: max-content;
      width: max-content;
      margin: auto;
      align-self: center;
      border-radius: 50px;
      cursor: pointer;
    }
  }
}
