@import "../../app.scss";

.skills {
  background: linear-gradient(180deg, #0c0c1d, #111132);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .textContainer {
    flex: 1;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 20px;

    @include mobile {
      padding: 20px;
      align-items: end;
      flex-direction: column;
      text-align: center;
      gap: 5px;
    }

    @include tablet {
      padding: 50px;
      align-items: end;
      flex-direction: column;
      text-align: center;
      gap: 10px;
    }

    p {
      font-weight: 200;
      font-size: 18px;
      color: gray;
      text-align: right;
    }

    hr {
      width: 300px;
      border: none;
      border-top: 0.5px solid gray;

      @include mobile {
        width: 65vw;
      }

      @include tablet {
        width: 70vw;
      }
    }
  }

  .titleContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mobile {
      width: 100%;
    }

    @include tablet {
      width: 100%;
    }

    .title {
      display: flex;
      gap: 50px;
      align-items: center;

      @include mobile {
        flex-direction: column;
        text-align: center;
        gap: 20px;
      }

      @include tablet {
        flex-direction: column;
        text-align: center;
        gap: 35px;
      }

      div {
        font-size: 58px;
        border: 0.5px solid orange;
        border-radius: 50px;
        width: 225px;
        font-size: 20px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile {
          font-size: 16px;
          height: 50px;
          width: 150px;
        }

        @include tablet {
          font-size: 18px;
          height: 60px;
          width: 170px;
        }
      }
    }

    h1 {
      font-size: 58px;
      font-weight: 100;

      @include mobile {
        font-size: 32px;
      }

      @include tablet {
        font-size: 50px;
      }
    }

    button {
      width: 225px;
      height: 70px;
      border-radius: 50px;
      background-color: orange;
      border: none;
      font-size: 20px;
      text-decoration: underline;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;

      @include mobile {
        font-size: 16px;
        width: 150px;
        height: 50px;
      }

      @include tablet {
        font-size: 18px;
        height: 60px;
        width: 170px;
      }
    }
  }

  .listContainer {
    flex: 2;
    display: flex;
    padding: 0 100px;
    flex-wrap: wrap;
    justify-content: center;

    @include mobile {
      flex: 5;
      padding: 20px;
    }

    @include tablet {
      flex: 5;
      padding: 50px;
    }

    .wrapper {
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: center;

      @include mobile {
        width: 50%;
      }

      @include tablet {
        width: 50%;
      }
    }

    .box {
      padding: 14px 40px;
      border: 0.5px solid gray;
      height: max-content;
      width: max-content;
      margin: auto;
      align-self: center;
      border-radius: 50px;
      cursor: pointer;

      @include mobile {
        font-size: 12px;
        padding: 8px 20px;
      }

      @include tablet {
        font-size: 16px;
        padding: 12px 30px;
      }
    }
  }
}
