.navbar {
  height: 100px;

  .wrapper {
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 100px;

    span {
      font-weight: bold;
      font-size: 24px;
    }

    .social {
      display: flex;
      gap: 20px;
    }
  }
}
